
.component-panel-chat {
    position: absolute;
    top: 0px;
    right: 0px;
    left: 0px;
    bottom: 0px;

    .inner {
        position: absolute;
        top: 0px;
        right: 0px;
        left: 0px;
        bottom: 60px;
        overflow: auto;
    }

    .post-message {
        position: absolute;
        height: 60px;
        right: 0px;
        left: 0px;
        bottom: 0px;
        padding: 10px;

        textarea {
            width: 100%;
            height: 100%;
        }
    }

    .messages {
        list-style: none;
        margin: 0px;
        padding: 0px;

        .message {
            padding: 5px 10px;
            margin: 5px 0px;
            border-top: 1px solid rgba(0, 0, 0, 0.1);

            &:first-child {
                border-top: none;
            }

            p {
                margin: 0px;
            }

            .message-author {
                font-weight: bold;
                color: @color-11;
            }

            .message-date {
                margin-left: 8px;
                font-size: 10px;
                color: @color-3;
            }
        }
    }
}
